.Todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 100%; */
    justify-content: space-between;
    column-gap: 12px;
    background-color: #2E4053;
    border-radius: 6px;
    padding: 6px 10px;
}


.TodoItem-text{
    font-size: large;
    word-break: break-all;
    user-select: none;
}
.TodoItem{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
}


.TodoItem-text.completed{
    text-decoration: line-through;
}
.TodoItem-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6px;
}
.Select{
    margin: 0 !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}